<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${server_name} stats</title>
    <style>
        .column {display: inline-block; width: 33%;}
    </style>
</head>
<body>
    <h1>${server_name} stats</h1>
    % for title, stat in (('blocks broken', 'mineBlock'), ('items used', 'useItem'), ('items crafted', 'craftItem')):
        <div class="column">
            <h2>Most ${title}</h2>
            <ol>
            % for player, num in players_per_stat['stat.'+stat].most_common(50):
                <li>${player} - ${num}
            % endfor
            </ol>
        </div>
    % endfor
    % for title, stat in (('broken blocks', 'mineBlock'), ('used items', 'useItem'), ('crafted items', 'craftItem')):
        <div class="column">
            <h2>Most ${title}</h2>
            <ol>
            % for item, num in global_stats['stat.'+stat].most_common(50):
                <li>${item} - ${num}
            % endfor
            </ol>
        </div>
    % endfor
</body>
</html>
