<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>${server_name} stats</title>
    <style>
        .column {display: inline-block; width: 33%;}
    </style>
</head>
<body>
    <h1>${server_name} stats</h1>
    <div class="column">
        <h2>Most blocks broken</h2>
        <ol>
        % for player, num in players_per_stat['stat.mineBlock'].most_common(50):
            <li>${player} - ${num}
        % endfor
        </ol>
    </div>
    <div class="column">
        <h2>Most items used</h2>
        <ol>
        % for player, num in players_per_stat['stat.useItem'].most_common(50):
            <li>${player} - ${num}
        % endfor
        </ol>
    </div>
    <div class="column">
        <h2>Most items crafted</h2>
        <ol>
        % for player, num in players_per_stat['stat.craftItem'].most_common(50):
            <li>${player} - ${num}
        % endfor
        </ol>
    </div>
</body>
</html>
